@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --animate-typewriter: typewriter 1s steps(14) 1s 1 normal both;
  --animate-blink: blink 1s steps(2) infinite;
  --animate-slideInBottomOutTop: slideInBottomOutTop 2s ease-in-out forwards 4s;
  --animate-slideInBottomDelayed: slideInBottomDelayed 1s ease-in-out forwards
    6s;
  --animate-rollOutLeftAndDown: rollOutLeftAndDown 0.6s ease-in-out forwards 8s;
  --animate-rollInLeftAndUp: rollInLeftAndUp 0.6s ease-in-out forwards 8s;
  --animate-fadeIn: fadeIn 1s ease-in-out forwards 9s;

  @keyframes typewriter {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
      border-right: none;
    }
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  @keyframes rollOutLeftAndDown {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) translateY(100%) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes rollInLeftAndUp {
    0% {
      transform: translateX(100%) translateY(100%) rotate(45deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes slideInBottomOutTop {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    40% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  @keyframes slideInBottomDelayed {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    40% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.6;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}
